environment:
  nodejs_version: "8"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version
  - npm --version
  - SET ENVINFO_DEBUG=trace
  - node src/cli.js
  - node dist/cli.js
  - SET ENVINFO_DEBUG=""
  - npm test

build: off
