image:
  - Visual Studio 2022
  
environment:
  nodejs_version: '24'

install:
  - ps: Install-Product node $env:nodejs_version x64
  - yarn

test_script:
  - node --version
  - choco install ffmpeg
  - choco install r.project -version 3.6.0
  - set RPATH=C:\Program Files\R\R-3.6.0\bin\x64
  - set PATH=%RPATH%;%PATH%
  - SET ENVINFO_DEBUG=trace
  - npm run build
  - node src/cli.js
  - node dist/cli.js
  - SET ENVINFO_DEBUG=""
  - npm test

build: off
